<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Ayush Bahuguna
    
  body
    section.main-div
      ul.navbar
        li
          a(href="#projects") Projects
        li
          a(href="#aboutMe") About Me
        li
          a(href="#contactMe") Contact Me
      div.text-box
        img.profile-image(src="./images/ayushpic.png", alt="ayush")
        h1.white-text 
          span.heading-primary-main Hey My name is Ayush Bahuguna
          span.heading-primary-sub  I'm a Full Stack Web Developer
    
    section.project-div.section-box.section-margin#projects
      h1.black-text.section-heading Projects
    section.project-div.section-box.section-margin#aboutMe
      h1.black-text.section-heading About Me
    section.contact-div.section-box.section-margin#contactMe
      h1.black-text.section-heading Contact Me
      div.section-box.social-flex
        a(href="mailto:ayush.bahuguna12@gmail.com" target="_blank")
          img.social-handles(src="./images/envelope.svg" alt="email")
        //- a(href="https://wa.me/+919690046216?text=Hi%20Ayush!" target="_blank")
        //-   img.social-handles(src="./images/whatsapp.svg" alt="whatsapp")
        a(href="https://t.me/ayushbahuguna" target="_blank")
          img.social-handles(src="./images/telegram.svg" alt="telegram")
        a(href="https://twitter.com/Bahuguna12Ayush" target="_blank")
          img.social-handles(src="./images/twitter.svg" alt="twitter")
        a(href="https://www.instagram.com/ayubahuguna/" target="_blank")
          img.social-handles(src="./images/instagram.svg" alt="instagram")
      
      span &copy; Ayush Bahuguna 
        //- button.outline-btn.green-btn(type="button") Contact Me
      
     
